@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.floating {
  animation: floating 6s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #04030b;
  color: white;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

img {
  -webkit-user-drag: none;
}

button {
  outline: none;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}